.task-item {
    flex: 2 2 calc(20 - 20px); /* Adjust the width of each task card */
    max-width: calc(20 - 20px); /* Adjust the max-width of each task card */
    background-color: #fff; /* Background color of task card */
    border: 1px solid #ccc; /* Border color of task card */
    border-radius: 8px; /* Border radius of task card */
    padding: 20px; /* Padding of task card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow of task card */
    margin-bottom: 3px;
  }
  
  .task-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hover effect */
  }

  .task-item button {
    margin-right: 10px; /* Add margin between buttons */
  }
  
  .task-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between task cards */
  }
  
